{% extends "aashestrap/base.html" %}

{% load staticfiles %}

{% block global-navigation %}
<ul class="menu">
  <li class="leaf first active"><a href="http://www.aashe.org/" title="" class=" aashe"><span>aashe</span></a></li>
  <li class="leaf"><a href="https://stars.aashe.org/" title="" class=" stars"><span>stars</span></a></li>
  <li class="leaf"><a href="http://conference.aashe.org/" title="" class=" annual-conference"><span>conference</span></a></li>
  <li class="leaf last"><a href="http://bulletin.aashe.org/" title="" class=" bulletin"><span>bulletin</span></a></li>
</ul>
{% endblock global-navigation %}

{% block user-navigation %}
{% if request.user.is_authenticated %}
<ul>
  <li class="first"><a href="http://www.aashe.org/user"><span>Your Account</span></a></li>
  <li class="last"><a href="http://www.aashe.org/logout"><span>Logout</span></a></li>
</ul>
{% else %}
<ul>
  <li class="first"><a href="http://www.aashe.org/user/login" class="login"><span>Login</span></a></li>
  <li><a href="http://www.aashe.org/user/register" class="register"><span>Create an Account</span></a></li>
  <li class="last"><a href="http://www.aashe.org/membership" class="join"><span>Become a Member</span></a></li>
</ul>
{% endif %}
{% endblock user-navigation %}

{% block logo %}
<h1 id="logo">
  <a href="http://www.aashe.org/"><img src="{% static 'aashestrap/img/aashe_logo_2012_128px.png' %}" alt="" /></a>
</h1>
{% endblock logo %}

{% block header-navigation %}
{% include "aashestrap/search_form.html" %}
{% endblock header-navigation %}

{% block navigation %}
<ul class="links primary-links"><li class="menu-block-3 home first active active-trail"><a href="http://www.aashe.org/" title="" class=" home first active active-trail active"><span>Home</span></a></li>
<li class=" events"><a href="http://www.aashe.org/events" title="" class=" events"><span>Events</span></a>
<ul class="menu" style="display: none; visibility: hidden; ">
<li class="leaf first menu-mlid-104970"><a href="/events/professional-development" title="" class=" professional-development"><span>Professional Development</span></a></li>
<li class="leaf menu-mlid-38307"><a href="http://conference.aashe.org" title="" class=" conference-expo"><span>Conference & Expo</span></a></li>
<li class="leaf menu-mlid-113830"><a href="http://www.aashe.org/campus-sustainability-month/" title="" class="restricted-content campus-sustainability-month"><span>Campus Sustainability Month</span></a></li>
<li class="leaf menu-mlid-38306"><a href="/events/webinars" title="" class=" webinars"><span>Webinars</span></a></li>
<li class="leaf menu-mlid-38305"><a href="/events/workshops" title="" class=" workshops"><span>Workshops</span></a></li>
<li class="leaf menu-mlid-40761"><a href="/events/campus-sustainability-calendar" title="Campus Sustainability Calendar" class=" sustainability-events-calendar"><span>Sustainability Events Calendar</span></a></li>
<li class="leaf last menu-mlid-60339"><a href="/events/archive" title="" class=" archived-events"><span>Archived Events</span></a></li>
</ul></li>
<li class=" resources"><a href="http://www.aashe.org/resources" title="AASHE&#39;s Resource Center" class=" resources"><span>Resources</span></a>
<ul class="menu" style="display: none; visibility: hidden; ">
<li class="leaf first menu-mlid-38309 has-children"><a href="/resources/general-resources-campus-sustainability" title="General Resources for Campus Sustainability" class=" general-resources-for-campus-sustainability"><span>General Resources for Campus Sustainability</span></a></li>
<li class="leaf menu-mlid-38308 has-children"><a href="/resources/education-research-resources" title="Education &amp; Research Resources" class=" education-research-resources"><span>Education &amp; Research Resources</span></a></li>
<li class="leaf menu-mlid-38310 has-children"><a href="/resources/campus-operations-resources" title="Campus Operations Resources" class=" campus-operations-resources"><span>Campus Operations Resources</span></a></li>
<li class="leaf menu-mlid-38311 has-children"><a href="/resources/planning-administration-engagement-resources" title="Planning, Administration &amp; Engagement Resources" class=" planning-administration-engagement-resources"><span>Planning, Administration &amp; Engagement Resources</span></a></li>
<li class="leaf menu-mlid-38312 has-children"><a href="/resources/publications-aashe" title="Publications from AASHE" class=" aashe-publications"><span>AASHE Publications</span></a></li>
<li class="leaf menu-mlid-81990"><a href="http://www.aashe.org/about/aashe-awards" title="" class=" aashe-awards"><span>AASHE Awards</span></a></li>
<li class="leaf menu-mlid-87781"><a href="/resources/shared-international-resources" title="" class="restricted-content international-resources"><span>International Resources</span></a></li>
<li class="leaf menu-mlid-38313"><a href="http://stars.aashe.org" title="" class=" sustainability-tracking-assessment-rating-system-stars"><span>Sustainability Tracking, Assessment &amp; Rating System (STARS)</span></a></li>
<li class="leaf last menu-mlid-114012"><a href="http://greengigawatt.org/" title="" class="restricted-content green-gigawatt-partnership"><span>Green Gigawatt Partnership</span></a></li>
</ul></li>
<li class=" connect-discuss"><a href="http://www.aashe.org/connect" title="Connect &amp; Discuss" class=" connect-discuss"><span>Connect &amp; Discuss</span></a>
<ul class="menu">

<li class="leaf first menu-mlid-113127"><a href="/membership/engage" title="" class=" engage"><span>Engage</span></a></li>
<li class="leaf menu-mlid-40754 has-children"><a href="/connect/enewsletters" title="eNewsletters" class=" enewsletters"><span>eNewsletters</span></a></li>
<li class="leaf menu-mlid-38315 has-children"><a href="/forums" title="" class=" discussion-forums"><span>Discussion Forums</span></a></li>
<li class="leaf menu-mlid-38317"><a href="/blog" title="" class=" blog"><span>Blog</span></a></li>
<li class="leaf last menu-mlid-38320"><a href="/connect/social-networks" title="" class=" social-networks"><span>Social Networks</span></a></li>

</ul></li>
<li class=" membership"><a href="http://www.aashe.org/membership" title="Membership" class=" membership"><span>Membership</span></a>
<ul class="menu">

<li class="leaf first menu-mlid-40788"><a href="http://www.aashe.org/membership" title="Membership Types &amp; Benefits" class=" join-now"><span>Join Now</span></a></li>
<li class="leaf menu-mlid-70151"><a href="/membership/member-directory" title="" class=" member-directory"><span>Member Directory</span></a></li>
<li class="leaf menu-mlid-40792"><a href="/membership/business-directory" title="Business Product &amp; Service Directory" class=" business-product-service-directory"><span>Business Product & Service Directory</span></a></li>
<li class="leaf menu-mlid-38325"><a href="/membership/member-spotlights" title="Member Spotlight Archive" class=" member-spotlight-archive"><span>Member Spotlight Archive</span></a></li>
<li class="leaf menu-mlid-70194"><a href="/membership/discounts" title="Discount Offers for AASHE Members" class="restricted-content member-discounts"><span>Member Discounts</span></a></li>
<li class="leaf menu-mlid-71897"><a href="/membership/member_logo.php" title="Guidelines for Use of the AASHE Member Logo" class=" aashe-member-logo"><span>AASHE-Member Logo</span></a></li>
<li class="leaf last menu-mlid-113980"><a href="/memberservice" title="Member Service Commitment" class=" member-service-commitment"><span>Member Service Commitment</span></a></li>

</ul></li>
<li class=" about-aashe"><a href="http://www.aashe.org/about" title="About AASHE" class="about-aashe"><span>About AASHE</span></a>
<ul class="menu">

<li class="leaf first menu-mlid-113919"><a href="http://www.aashe.org/about" title="" class=" about"><span>About</span></a></li>
<li class="leaf menu-mlid-47239"><a href="/about/aashe-mission-vision-goals" title="AASHE Mission, Vision and Goals" class=" mission-vision-and-goals"><span>Mission, Vision and Goals</span></a></li>
<li class="leaf menu-mlid-42753"><a href="/about/annual-report" title="Annual Report" class=" annual-report"><span>Annual Report</span></a></li>
<li class="leaf menu-mlid-40774"><a href="/about/governance/board" title="Members of the Board of Directors, AASHE&#039;s Governing Body" class=" board-of-directors"><span>Board of Directors</span></a></li>
<li class="leaf menu-mlid-40777"><a href="/about/governance-documents" title="Governance Documents" class="restricted-content governance-documents"><span>Governance Documents</span></a></li>
<li class="leaf menu-mlid-61338"><a href="/about/staff-directory" title="" class=" contact-us"><span>Contact Us</span></a></li>
<li class="leaf menu-mlid-40776 has-children"><a href="/about/councils" title="AASHE Councils" class=" advisory-council"><span>Advisory Council</span></a></li>
<li class="leaf menu-mlid-38328"><a href="/about/press" title="" class=" media-press"><span>Media &amp; Press</span></a></li>
<li class="leaf menu-mlid-107025"><a href="/about/advertising-opportunities%20" title="" class=" advertising-opportunities"><span>Advertising Opportunities</span></a></li>
<li class="leaf menu-mlid-40767 has-children"><a href="/about/aashe-awards" title="AASHE Sustainability Awards" class=" aashe-awards"><span>AASHE Awards</span></a></li>
<li class="leaf last menu-mlid-47243"><a href="/about/faq" title="Frequently Asked Questions" class=" frequently-asked-questions"><span>Frequently Asked Questions</span></a></li>

</ul></li>
</ul>
{% endblock navigation %}

{% block sitemap %}
{% include "aashestrap/sitemap.html" %}
{% endblock sitemap %}

{% block footer %}
<div class="row">
  <div class="span9">
    <div id="footer-message">
      <div id="copyright">
        <p class="copyright">All Material Copyright © 2005–2015 Association for the Advancement of Sustainability in Higher Education. AASHE reserves the right to control the reproduction and use of all material posted on this website.</p>
        <p>2401 Walnut Street Suite 102 Philadelphia, PA 19103 - t/f: 888-347-9997<br />
          For problems or questions about this site please <a href="/contact">contact the webmaster</a> <br>
          <a href="/privacy-policy">Privacy Policy</a>
        </p>
      </div><!-- end #copyright -->
    </div><!-- end #footer-message -->
  </div><!-- end #span10 -->

  <div id="contact-links" class="span3">
    <div id="block-block-33" class="block block-block">
      <p><a href="http://www.aashe.org/contact">Contact</a></p>
      <dl>
        <dt>Follow AASHE:</dt>
        <dd><a href="http://twitter.com/AASHENews" class="twitter">Twitter</a></dd>
        <dd><a href="https://www.facebook.com/pages/Aashe/200867813286094" class="facebook">Facebook</a></dd>
        <dd><a href="http://www.youtube.com/aasheorg" class="youtube">Youtube</a></dd>
        <dd><a href="http://www.flickr.com/photos/aashe/" class="flickr">Flickr</a></dd>
      </dl>
      <a id="context-block-block-33" class="context-block editable edit-sitewide_context"></a>
      </div><!-- end #block-block-33 -->
    </div><!-- end #contact-links -->
</div><!-- end row -->
{% endblock footer %}
