{% extends "aashestrap/base_aashe.html" %}

{% block breadcrumb %}
<ul>
<li class="first"><a href="/">Home</a></li>
<li><a href="/resources" title="AASHE's Resource Center" class="">Resources</a></li>
<li>
  <a href="/resources/education-research-resources">Education &amp; Research Resources</a>
</li>
<li class="last">
  <a href="//resources/alumni-sustainability-networks">Alumni Sustainability Networks</a>
</li>
</ul>
{% endblock breadcrumb %}

{% block content %}
<h2>Example content</h2>
{% endblock %}

{% block right %}
<h2>Sidebar</h2>
{% endblock %}
