{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title>{% block title %}{% endblock title %}</title>

    {% block scripts %}
      {% autoescape off %}
        <script type="text/javascript">document.documentElement.className = 'js';</script>
        <script type="text/javascript" src="{% static 'aashestrap/js/jquery-2.1.4.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'aashestrap/bootstrap/js/bootstrap.js' %}"></script>
        <script type="text/javascript" src="{% static 'aashestrap/js/modernizr.js' %}"></script>
        <script type="text/javascript" src="{% static 'aashestrap/js/breakdance.js' %}"></script>
        <script type="text/javascript" src="{% static 'aashestrap/js/base.js' %}"></script>
      {% endautoescape %}
    {% endblock scripts %}

    {% block css %}
      <link href="{% static 'aashestrap/css/bootstrap.css' %}" rel="stylesheet" type="text/css" />
      <link href="https://fonts.googleapis.com/css?family=Libre+Franklin:400,400i,700,700i" rel="stylesheet">
      <link href="{% static 'aashestrap/css/style.css' %}" rel="stylesheet" type="text/css" />
    {% endblock css %}

    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block head-extra %}{% endblock head-extra %}
  </head>

  <body {% block body_attributes %}{% endblock body_attributes %}>
    <div id="site">
      {% block header %}
          <header id="header">
            {% block global-header %}
              <div id="toolbar">
                <div class="inner">
                  {% block global-navigation %}
                    <div id="aashe-sites">
                      <div class="title">AASHE Sites</div>
                      <div class="content">
                        <ul class="link-list">
                          <li class="active"><a href="http://www.aashe.org/">AASHE Home</a></li>
                          <li><a href="https://stars.aashe.org/">STARS</a></li>
                          <li><a href="http://conference.aashe.org/">Conference</a></li>
                          <li><a href="http://hub.aashe.org/">Resource Hub</a></li>
                          <li><a href="http://bulletin.aashe.org/">Bulletin</a></li>
                        </ul>
                      </div>
                    </div>
                  {% endblock global-navigation %}
                  <div id="member-links">
                    {% block user-navigation %}
                      <a href="https://customer2597942ba.portal.membersuite.com/Login.aspx?redirectURL={{ request.path }}" class="condensed">Login</a>
                      <a href="https://customer2597942ba.portal.membersuite.com/Login.aspx?redirectURL={{ request.path }}" class="icon-portal">Member Portal</a>
                      <a href="https://customer2597942ba.portal.membersuite.com/profile/CreateAccount_BasicInfo.aspx" class="icon-star">New Account</a>
                    {% endblock user-navigation %}
                  </div>
                </div>
              </div>
              <div id="branding">
                <div class="inner">
                  <div class="logo">
                    {% block logo %}
                      <a href="http://www.aashe.org/">
                        <span class="graphic">AASHE</span><span class="text">The Association for the Advancement of Sustainability in Higher Education</span>
                      </a>
                    {% endblock logo %}
                  </div>
                </div>
              </div>
              <div id="main-menu">
                <div class="inner">

                  {% block navigation %}{% endblock navigation %}

                  <div id="controls">
                    <div>
                      <a href="http://aashe.wpengine.com/contact/" class="icon-contact">Contact Us</a>
                    </div>
                    <div class="search">
                      <form action="http://aashe.wpengine.com/" class="search-form" method="get" role="search">
                        <label for="site-search"><span class="search-text screen-reader-text">Search For:</span></label>
                        <input type="search" title="Search for:" name="s" value="" placeholder="Search" class="search-box" id="site-search">
                        <input type="submit" value="Search" class="search-submit">
                      </form>
                    </div>
                  </div>

                </div>
              </div>
            {% endblock global-header %}
          </header>
      {% endblock header %}

      <div id="content" class="site-content">

        <div id="banner">
          <div class="inner">
            {% block title-banner %}{% endblock %}
          </div>
        </div>

            <div class="wrap">
              {% block breadcrumbs %}{% endblock %}
            </div>

        <div class="home-grid">
          <div class="inner">
            <div class="wrap">

              {% block messages %}{% endblock messages %}

              <div id="primary" class="content-area">
                <main id="main" class="site-main" role="main">
                  <div class="inner">
                    <div class="vc_row wpb_row vc_row-fluid">
                      {% block tabs %}{% endblock tabs %}
                    </div>
                    {% block content %}{% endblock content %}
                  </div>
                </main>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% include 'aashestrap/footer.html' %}
    </div>
  </body>
</html>