<form action="http://www.google.com/cse" accept-charset="UTF-8" method="get" id="google-cse-searchbox-form" class="" _lpchecked="1">
  <div>
    <input type="hidden" name="cx" id="edit-cx" value="015412765820692906216:i-ly_bdboj8">
    <input type="hidden" name="cof" id="edit-cof" value="FORID:0">
    <input type="text" maxlength="128" name="query" id="edit-query" size="15" value="" title="Enter the terms you wish to search for." class="form-text">
    <input type="hidden" name="form_build_id" id="form-cad57c55c76f5080d5ed87dd1d04b57d" value="form-cad57c55c76f5080d5ed87dd1d04b57d">
    <input type="hidden" name="form_token" id="edit-google-cse-searchbox-form-form-token" value="6e76aec732c874c942ab22aa9637fd2e">
    <input type="hidden" name="form_id" id="edit-google-cse-searchbox-form" value="google_cse_searchbox_form">
    <input type="submit" name="op" id="edit-sa" value="Go" class="form-submit">
  </div>
</form>