<form action="http://www.google.com/cse"  accept-charset="UTF-8" method="get" id="google-cse-searchbox-form" class=''>
  <div>
    <input type="hidden" name="cx" id="edit-cx" value="015412765820692906216:i-ly_bdboj8"  />
    <input type="hidden" name="cof" id="edit-cof" value="FORID:0"  />
    <input type="text" maxlength="128" name="query" id="edit-query" size="15" value="" title="Enter the terms you wish to search for." class="form-text" />
    <input type="hidden" name="form_build_id" id="form-512a421b9c24c47f5a4656de6d1b56d9" value="form-512a421b9c24c47f5a4656de6d1b56d9"  />
    <input type="hidden" name="form_id" id="edit-google-cse-searchbox-form" value="google_cse_searchbox_form"  />
    <input type="submit" name="op" id="edit-sa" value="Go"  class="form-submit" />

  </div>
</form>
